# Configuración de la base de datos
# MONGODB_URI=mongodb://localhost:27017/mascotas_fantasticas

# Para MongoDB Atlas, usa tu string de conexión:
MONGODB_URI=mongodb+srv://usuario:password@cluster0.mlzaawc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Puerto del servidor
PORT=3001

# Configuración de entorno
NODE_ENV=production

# Configuración de ApiKeyAuth (apiKey)
API_KEY_AUTH_ENABLED=true
API_KEY_HEADER_NAME=X-API-Key
API_KEY_QUERY_PARAM=apiKey
API_KEY_REQUIRED=true

# Configuración JWT
JWT_SECRET=tu_jwt_secret_super_seguro_2024
JWT_EXPIRES_IN=24h

# Configuración de Usecurs
USECURS_ENABLED=true
USECURS_URL=https://api.usecurs.com
USECURS_API_KEY=tu_usecurs_api_key 